<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.joke.dao.JokeInfoMapper">
  <resultMap id="BaseResultMap" type="com.sunny.joke.po.JokeInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="joke_name" jdbcType="VARCHAR" property="jokeName" />
    <result column="joke_content" jdbcType="VARCHAR" property="jokeContent" />
    <result column="joke_type_id" jdbcType="BIGINT" property="jokeTypeId" />
    <result column="upload_user_id" jdbcType="BIGINT" property="uploadUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <resultMap type="com.sunny.joke.po.JokeInfo" id="BaseResultMapMore" extends="BaseResultMap">
  	<association property="manager" column="upload_user_id" select="com.sunny.joke.dao.ManagerMapper.selectByPrimaryKey"/>
  	<association property="jokeType" column="joke_type_id" select="com.sunny.joke.dao.JokeTypeMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List">
    id, joke_name, joke_content, joke_type_id,upload_user_id, create_time, update_time, 
    del_time, del_flag ,remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMapMore">
    select 
    <include refid="Base_Column_List" />
    from sy_joke_jokeinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sy_joke_jokeinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunny.joke.po.JokeInfo">
    insert into sy_joke_jokeinfo (id, joke_name, joke_content, joke_type_id,
      upload_user_id, create_time, 
      update_time, del_time, del_flag ,remark
      )
    values (#{id,jdbcType=BIGINT}, #{jokeName,jdbcType=VARCHAR}, #{jokeContent,jdbcType=VARCHAR},#{jokeTypeId,jdbcType=BIGINT}, 
     #{uploadUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delTime,jdbcType=TIMESTAMP},#{delFlag,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.joke.po.JokeInfo">
    insert into sy_joke_jokeinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jokeName != null">
        joke_name,
      </if>
      <if test="jokeContent != null">
        joke_content,
      </if>
      <if test="jokeTypeId != null">
        joke_type_id,
      </if>
      <if test="uploadUserId != null">
        upload_user_id,
      </if>
        create_time,
        update_time,
      <if test="delTime != null">
        del_time,
      </if>
      del_flag,
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jokeName != null">
        #{jokeName,jdbcType=VARCHAR},
      </if>
      <if test="jokeContent != null">
        #{jokeContent,jdbcType=VARCHAR},
      </if>
      <if test="jokeTypeId != null">
        #{jokeTypeId,jdbcType=BIGINT},
      </if>
      <if test="uploadUserId != null">
        #{uploadUserId,jdbcType=BIGINT},
      </if>
		NOW(),NOW(),
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      '0',
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.joke.po.JokeInfo">
    update sy_joke_jokeinfo
    <set>
      <if test="jokeName != null">
        joke_name = #{jokeName,jdbcType=VARCHAR},
      </if>
      <if test="jokeContent != null">
        joke_content = #{jokeContent,jdbcType=VARCHAR},
      </if>
      <if test="jokeTypeId != null">
        joke_type_id = #{jokeTypeId,jdbcType=BIGINT},
      </if>
      <if test="uploadUserId != null">
        upload_user_id = #{uploadUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = NOW(),
      <if test="delTime != null">
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
      	del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.joke.po.JokeInfo">
    update sy_joke_jokeinfo
    set joke_name = #{jokeName,jdbcType=VARCHAR},
      joke_content = #{jokeContent,jdbcType=VARCHAR},
      joke_type_id = #{jokeTypeId,jdbcType=BIGINT},
      upload_user_id = #{uploadUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectJokeInfoCounts" resultType="java.lang.Long">
  	select count(1) from sy_joke_jokeinfo where del_flag = '0'
  </select>
  
  <!-- 按查询条件搜索段子 -->
  <select id="queryJokeInfoListByConditions" resultMap="BaseResultMapMore">
  	select <include refid="Base_Column_List"/> from sy_joke_jokeinfo
  	where del_flag = '0'
  	<if test="joke.jokeName !=null and joke.jokeName!=''">
  		and joke_name like concat('%',#{joke.jokeName},'%')
  	</if>
  	<if test="joke.jokeTypeId !=null and joke.jokeTypeId !='' and joke.jokeTypeId !=0">
  		and joke_type_id = #{joke.jokeTypeId,jdbcType=BIGINT}
  	</if>
  	<if test="joke.createTimeStr !=null and joke.createTimeStr !=''">
  		and date_format(create_time, '%Y-%c-%d' ) = date_format(#{joke.createTimeStr},'%Y-%c-%d')
  	</if>
  	<if test="joke.manager !=null">
	  	<if test="joke.manager.managerName !=null and joke.manager.managerName !=null">
	  		and upload_user_id in (select id from sy_joke_manager where manager_name=#{joke.manager.managerName})
	  	</if>
  	</if>
  	order by create_time desc limit #{pageRequest.page},#{pageRequest.pageSize}
  </select>
  
  <!-- 删除段子 -->
  <update id="delJoke">
  	update sy_joke_jokeinfo set del_flag = '1',del_time = NOW()
  	where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>