<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.joke.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.sunny.joke.po.Manager">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="manager_password" jdbcType="VARCHAR" property="managerPassword" />
    <result column="manager_nickname" jdbcType="VARCHAR" property="managerNickname" />
    <result column="head_pic" jdbcType="VARCHAR" property="headPic"/>
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, manager_name, manager_password, manager_nickname, head_pic,del_flag, add_time, update_time, 
    del_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_joke_manager
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sy_joke_manager
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sunny.joke.po.Manager">
    insert into sy_joke_manager (id, manager_name, manager_password, 
      manager_nickname, head_pic,del_flag, add_time, 
      update_time, del_time, remark
      )
    values (#{id,jdbcType=BIGINT}, #{managerName,jdbcType=VARCHAR}, #{managerPassword,jdbcType=VARCHAR}, 
      #{managerNickname,jdbcType=VARCHAR}, #{headPic,jdbcType=VARCHAR},#{delFlag,jdbcType=CHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.joke.po.Manager">
    insert into sy_joke_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="managerPassword != null">
        manager_password,
      </if>
      <if test="managerNickname != null">
        manager_nickname,
      </if>
      <if test="headPic !=null">
      	head_pic,
      </if>
        del_flag,
        add_time,
        update_time,
      <if test="delTime != null">
        del_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPassword != null">
        #{managerPassword,jdbcType=VARCHAR},
      </if>
      <if test="managerNickname != null">
        #{managerNickname,jdbcType=VARCHAR},
      </if>
      <if test="headPic !=null">
      	#{headPic,jdbcType=VARCHAR},
      </if>
		'0',NOW(),NOW(),
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.joke.po.Manager">
    update sy_joke_manager
    <set>
      <if test="managerName != null">
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPassword != null">
        manager_password = #{managerPassword,jdbcType=VARCHAR},
      </if>
      <if test="managerNickname != null">
        manager_nickname = #{managerNickname,jdbcType=VARCHAR},
      </if>
      <if test="headPic != null">
        head_pic = #{headPic,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null">
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.joke.po.Manager">
    update sy_joke_manager
    set manager_name = #{managerName,jdbcType=VARCHAR},
      manager_password = #{managerPassword,jdbcType=VARCHAR},
      manager_nickname = #{managerNickname,jdbcType=VARCHAR},
      head_pic = #{headPic,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectManagerByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_joke_manager
    where manager_name = #{name,jdbcType=VARCHAR}
  </select>
  
  <select id="selectManagerCount" resultType="java.lang.Long">
  	select COUNT(1) from sy_joke_manager
  </select>
  
  <select id = "selectManagerList" resultMap="BaseResultMap">
     select <include refid="Base_Column_List"/> from sy_joke_manager
     order by add_time desc limit #{page},#{pageSize}
  </select>
</mapper>